body
{
  font-family:"Montserrat",sans-serif;

}

h1
{
  font-family:"Montserrat",sans-serif;
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;

}
h2{
  font-family:"Montserrat",sans-serif;
  font-weight: bold;
  font-size:3rem;
  line-height:1.5;
  }
h3{
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
}
p{
  color:#8f8f8f;
}
.container-fluid
{
  padding:3% 15% 7%;

}

#title
{
  background-color: #ff4c68;
  color:white;

}

/*Navigation bar */

.navbar
{
  padding-top:4.0rem;
  padding-left: 0;
  padding-bottom:4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  font-size: 2.5rem;
  font-weight:bold;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-weight:500;
}
/*download buttons*/
 .dbn{
   margin:5% 3% 5% 0;
 }
/*title image*/
.tim{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
right:30%;
}
/*features section*/
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;

}

.feat{
  text-align: center;
  padding:5%;

}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/*Testimmonials*/
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:white;
}
.temim{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
/*press section*/
#press{
  background-color: #ef8172;
  text-align:center;
  padding-bottom: 3%;

}
.plogo{
  width:15%;
  margin:20px 20px 50px;
}
.carousel-item{
  padding:7% 15%;
}
/* Pricing section */
#pricing{
  padding:100px;
  text-align: center;
}
.price{
  padding:3% 2%;

}
/* cta */
#cta{
  background-color: #ff4c68;
text-align: center;
  color:white;
  padding:7% 15%;

}
.ctahead{
    font-size:3.5rem;

}
/* footer */
#footer{
  text-align: center;
  padding-top:3%;
  padding-bottom:5%;


}
.ficon{
  margin:15px;
  line-height: 1.5;
}
/* resposivenes */
@media(max-width:1028px){
  #title{
      text-align: center;
  }
  .tim{
    position:static;
    transform:rotate(0);

  }
}
